<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Round"
              name="round"
              placeholder="1"
              :validation="$v.form.round"
              v-model="form.round"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Name"
              name="name"
              placeholder="ANZAC Round"
              :validation="$v.form.name"
              v-model="form.name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Series"
              name="series_id"
              :options="series"
              :validation="$v.form.series_id"
              v-model="form.series_id"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators';
import Round from '../../../shared/http/Round';
import Series from '../../../shared/http/Series';
import { transformInputs } from '../../../shared/Helpers';
import InputText from '../../../shared/components/forms/InputText';
import SelectSimple from '../../../shared/components/forms/SelectSimple';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateRound',
  components: {
    RemoveButton,
    AppBodyWrap,
    ResetButton,
    SelectSimple,
    SubmitButton,
    InputText,
    PageTitle,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        round: '',
        name: '',
        series_id: '',
      },
      originalForm: {
        round: '',
        name: '',
        series_id: '',
      },
      allSeries: [],
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchSeries();
  },
  computed: {
    series() {
      return this.allSeries.map((series) => ({ value: series.id, text: series.name }));
    },
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Round';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        round: '',
        name: '',
        series_id: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update Round';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Round.fetch(this.$route.params.id);

      this.setupForms({
        round: this.model.round,
        name: this.model.name,
        series_id: this.model.series.id,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Round.create(this.transformInput()) === true) {
        return this.$router.push({ name: 'round-all' });
      }

      return false;
    },
    async update() {
      if (await Round.update(this.model, this.transformInput()) === true) {
        return this.$router.push({ name: 'round-all' });
      }

      return false;
    },
    async remove() {
      if (await Round.remove(this.model) === true) {
        return this.$router.push({ name: 'round-all' });
      }

      return false;
    },
    transformInput() {
      return transformInputs(this.submitMethod === this.update, this.originalForm, this.form, ['name']);
    },
    async fetchSeries() {
      this.allSeries = (await Series.index('all')).series;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        round: {
          required,
          maxLength: maxLength(50),
        },
        name: {
          maxLength: maxLength(50),
        },
        series_id: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
