<template>
  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label
      :for="name"
      class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      {{ label }}
      <span
        v-if="validation.$params.required"
        class="mt-2 text-sm text-red-500">
        <br>Required
      </span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-xs rounded-md shadow-sm">
        <input
          :id="name"
          :name="name"
          class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
          v-model="inputVal"
          :placeholder="placeholder"/>
      </div>
      <p
        v-if="showValidationMessage('maxLength')"
        class="mt-2 text-sm text-red-500">
        Must be no greater than {{ validation.$params.maxLength.max }} characters.
      </p>
      <p
        v-if="showValidationMessage('maxValue')"
        class="mt-2 text-sm text-red-500">
        Must be no greater than {{ validation.$params.maxValue.max }}.
      </p>
      <p
        v-if="showValidationMessage('minValue')"
        class="mt-2 text-sm text-red-500">
        Must be no less than {{ validation.$params.minValue.min }}.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputText',
  props: {
    label: { type: String },
    name: { type: String },
    placeholder: { type: String },
    validation: { type: Object },
    value: { type: [String, Number] },
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  },
  methods: {
    showValidationMessage(validator) {
      return Object.prototype.hasOwnProperty.call(this.validation, validator) && !this.validation[validator];
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
