<template>
  <router-link
    :to="to"
    class="inline-flex items-center px-4 py-2 border text-sm leading-5 font-medium rounded-md text-white focus:outline-none transition duration-150 ease-in-out"
    :class="this.typeSpecificClasses">
    {{ text }}
  </router-link>
</template>

<script>
export default {
  name: 'LinkButton',
  props: {
    text: { type: String },
    to: { type: Object },
    type: { type: String, default: 'basic' },
  },
  computed: {
    typeSpecificClasses() {
      const classes = {
        basic: [
          'border-gray-300',
          'text-gray-700',
          'hover:text-gray-500',
          'focus:border-blue-300',
          'active:bg-gray-50',
          'active:text-gray-800',
        ],
        highlighted: [
          'border-transparent',
          'text-white',
          'bg-gray-800',
          'hover:bg-gray-700',
          'focus:bg-gray-900',
          'active:bg-gray-900',
        ],
      };

      return classes[this.type];
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
