<template>
  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label
      :for="name"
      class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      {{ label }}
      <span
        v-if="validation.$params.required"
        class="mt-2 text-sm text-red-500">
        <br>Required
      </span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-xs rounded-md shadow-sm">
        <select
          :id="name"
          v-model="selectVal"
          class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
          <option
            v-for="{text, value} of options"
            :key="value"
            :value="value">
            {{ text }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectSimple',
  props: {
    label: { type: String },
    name: { type: String },
    options: { type: Array },
    validation: { type: Object },
    value: { type: [String, Number] },
  },
  computed: {
    selectVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
        this.$emit('change');
      },
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
