<template>
  <span class="ml-3 inline-flex rounded-md shadow-sm">
    <button
      type="submit"
      class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:bg-gray-900 focus:shadow-outline-indigo active:bg-gray-900 disabled:opacity-75 disabled:cursor-not-allowed transition duration-150 ease-in-out"
      :disabled="validation.$invalid">
      {{ text }}
    </button>
  </span>
</template>

<script>
export default {
  name: 'SubmitButton',
  props: {
    text: { type: String },
    validation: { type: Object },
  },
};
</script>

<style lang="scss" scoped>
</style>
