<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Full Name"
              name="name"
              placeholder="Australian Football League"
              :validation="$v.form.name"
              v-model="form.name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Abbreviation"
              name="abbreviation"
              placeholder="AFL"
              :validation="$v.form.abbreviation"
              v-model="form.abbreviation"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { maxLength, required } from 'vuelidate/lib/validators';
import League from '../../../shared/http/League.ts';
import InputText from '../../../shared/components/forms/InputText';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateSeries',
  components: {
    AppBodyWrap, ResetButton, SubmitButton, InputText, PageTitle, RemoveButton,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        abbreviation: '',
        name: '',
      },
      originalForm: {
        abbreviation: '',
        name: '',
      },
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchSeasons();
    this.fetchLeagues();
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create League';
      this.submitButtonText = 'League';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        abbreviation: '',
        name: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update League';
      this.submitButtonText = 'League';

      this.submitMethod = this.update;

      this.model = await League.fetch(this.$route.params.id);

      this.setupForms({
        abbreviation: this.model.abbreviation,
        name: this.model.name,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await League.create(this.form) === true) {
        return this.$router.push({ name: 'league-all' });
      }

      return false;
    },
    async update() {
      if (await League.update(this.model, this.form) === true) {
        return this.$router.push({ name: 'league-all' });
      }

      return false;
    },
    async remove() {
      if (await League.remove(this.model) === true) {
        return this.$router.push({ name: 'league-all' });
      }

      return false;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        abbreviation: {
          required,
          maxLength: maxLength(5),
        },
        name: {
          required,
          maxLength: maxLength(50),
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
