<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Year"
              name="year"
              placeholder="2000"
              :validation="$v.form.year"
              v-model="form.year"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { maxValue, minValue, required } from 'vuelidate/lib/validators';
import Season from '../../../shared/http/Season.ts';
import InputText from '../../../shared/components/forms/InputText';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateSeason',
  components: {
    AppBodyWrap, ResetButton, SubmitButton, InputText, PageTitle, RemoveButton,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        year: '',
      },
      originalForm: {
        year: '',
      },
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Season';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        year: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update Season';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Season.fetch(this.$route.params.id);

      this.setupForms({
        year: this.model.year,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Season.create(this.form) === true) {
        return this.$router.push({ name: 'season-all' });
      }

      return false;
    },
    async update() {
      if (await Season.update(this.model, this.form) === true) {
        return this.$router.push({ name: 'season-all' });
      }

      return false;
    },
    async remove() {
      if (await Season.remove(this.model) === true) {
        return this.$router.push({ name: 'season-all' });
      }

      return false;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        year: {
          required,
          minValue: minValue(1897),
          maxValue: maxValue(2100),
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
