<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Full Name"
              name="full_name"
              placeholder="Essendon FC"
              :validation="$v.form.full_name"
              v-model="form.full_name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Short Name"
              name="short_name"
              placeholder="Essendon"
              :validation="$v.form.short_name"
              v-model="form.short_name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Abbreviation"
              name="abbreviation"
              placeholder="ESS"
              :validation="$v.form.abbreviation"
              v-model="form.abbreviation"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Primary Colour"
              name="primary_colour"
              placeholder="#000000"
              :validation="$v.form.primary_colour"
              v-model="form.primary_colour"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Secondary Colour"
              name="secondary_colour"
              placeholder="#000000"
              :validation="$v.form.secondary_colour"
              v-model="form.secondary_colour"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Tertiary Colour"
              name="tertiary_colour"
              placeholder="#000000"
              :validation="$v.form.tertiary_colour"
              v-model="form.tertiary_colour"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Address"
              name="address"
              placeholder="Brunton Ave, Richmond VIC 3002"
              :validation="$v.form.address"
              v-model="form.address"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Home State"
              name="home_state_id"
              :options="states"
              :validation="$v.form.home_state_id"
              v-model="form.home_state_id"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="League"
              name="league_id"
              :options="leagues"
              :validation="$v.form.league_id"
              v-model="form.league_id"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators';
import League from '../../../shared/http/League';
import State from '../../../shared/http/State';
import Team from '../../../shared/http/Team';
import InputText from '../../../shared/components/forms/InputText';
import SelectSimple from '../../../shared/components/forms/SelectSimple';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateTeam',
  components: {
    RemoveButton,
    AppBodyWrap,
    ResetButton,
    SelectSimple,
    SubmitButton,
    InputText,
    PageTitle,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        full_name: '',
        short_name: '',
        abbreviation: '',
        primary_colour: '',
        secondary_colour: '',
        tertiary_colour: '',
        address: '',
        home_state_id: '',
        league_id: '',
      },
      originalForm: {
        full_name: '',
        short_name: '',
        abbreviation: '',
        primary_colour: '',
        secondary_colour: '',
        tertiary_colour: '',
        address: '',
        home_state_id: '',
        league_id: '',
      },
      allStates: [],
      allLeagues: [],
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchStates();
    this.fetchLeagues();
  },
  computed: {
    states() {
      return this.allStates.map((state) => ({ value: state.id, text: state.name }));
    },
    leagues() {
      return this.allLeagues.map((league) => ({ value: league.id, text: league.name }));
    },
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Team';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        full_name: '',
        short_name: '',
        abbreviation: '',
        primary_colour: '',
        secondary_colour: '',
        tertiary_colour: '',
        address: '',
        home_state_id: '',
        league_id: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update Team';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Team.fetch(this.$route.params.id);

      this.setupForms({
        full_name: this.model.fullName,
        short_name: this.model.shortName,
        abbreviation: this.model.abbreviation,
        primary_colour: this.model.primaryColour,
        secondary_colour: this.model.secondaryColour,
        tertiary_colour: this.model.tertiaryColour,
        address: this.model.address,
        home_state_id: this.model.homeState.id,
        league_id: this.model.league.id,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Team.create(this.form) === true) {
        return this.$router.push({ name: 'team-all' });
      }

      return false;
    },
    async update() {
      if (await Team.update(this.model, this.form) === true) {
        return this.$router.push({ name: 'team-all' });
      }

      return false;
    },
    async remove() {
      if (await Team.remove(this.model) === true) {
        return this.$router.push({ name: 'team-all' });
      }

      return false;
    },
    async fetchStates() {
      this.allStates = (await State.index('all')).states;
    },
    async fetchLeagues() {
      this.allLeagues = (await League.index('all')).leagues;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        full_name: {
          required,
          maxLength: maxLength(50),
        },
        short_name: {
          required,
          maxLength: maxLength(20),
        },
        abbreviation: {
          required,
          maxLength: maxLength(4),
        },
        primary_colour: {
          required,
          maxLength: maxLength(7),
        },
        secondary_colour: {
          required,
          maxLength: maxLength(7),
        },
        tertiary_colour: {
          required,
          maxLength: maxLength(7),
        },
        address: {
          required,
          maxLength: maxLength(100),
        },
        home_state_id: {
          required,
        },
        league_id: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
