<template>
  <div>
    <page-title
      :title="title"
      :buttons="pageTitleButtons"/>

    <app-body-wrap>
      <div class="mt-2">
        <pagination
          :pagination="pagination"
          @requestPage="fetch"/>
      </div>

      <div class="mt-2 flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
              <thead>
              <tr>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Full Name
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Short Name
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Abbreviation
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Colours
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Home State
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  League
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Created At
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
              </tr>
              </thead>
              <tbody>
              <tr
                v-for="item of teams"
                :key="item.id"
                class="bg-gray-50 odd:bg-white" >
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                  {{ item.fullName }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-500">
                  {{ item.shortName }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-500">
                  {{ item.abbreviation }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-500">
                  {{ item.primaryColour }}<br>
                  {{ item.secondaryColour }}<br>
                  {{ item.tertiaryColour }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-500">
                  {{ item.homeState.abbreviation }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-500">
                  {{ item.league.abbreviation }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  {{ item.createdAt }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5">
                  <router-link
                    :to="{name: 'team-update', params: {id: item.id}}"
                    class="text-gray-500 hover:text-gray-900 underline focus:outline-none focus:underline">
                    Update
                  </router-link>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <pagination
          :pagination="pagination"
          @requestPage="fetch"/>
      </div>
    </app-body-wrap>
  </div>
</template>

<script>
import Team from '../../../shared/http/Team';
import Pagination from '../../../shared/components/Pagination';
import PageTitle from '../../../shared/components/PageTitle.vue';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';

export default {
  name: 'ViewTeams',
  components: { AppBodyWrap, PageTitle, Pagination },
  data() {
    return {
      title: 'Teams',
      edit: false,
      teams: [],
      pagination: {},
      pageTitleButtons: [
        {
          text: 'Create Team',
          type: 'basic',
          to: { name: 'team-create' },
        },
      ],
    };
  },
  async beforeMount() {
    this.setPageTitle(this.title);

    this.fetch();
  },
  computed: {},
  methods: {
    created() {
      this.fetch();
    },
    async fetch(pageNumber = 1) {
      const response = await Team.index(pageNumber);

      this.teams = response.teams;
      this.pagination = response.pagination;
    },
    // toEdit(team) {
    //   this.edit = team;
    // },
    // resetEdit() {
    //   this.edit = false;
    //
    //   this.fetch();
    // },
  },
};
</script>

<style lang="scss" scoped>
</style>
