<template>
    <div class="text-blue-700">The public webapp is loaded!</div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {};
  },
  computed: {
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
</style>
