<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Name"
              name="name"
              placeholder="South Australia"
              :validation="$v.form.name"
              v-model="form.name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Abbreviation"
              name="abbreviation"
              placeholder="SA"
              :validation="$v.form.abbreviation"
              v-model="form.abbreviation"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Capacity"
              name="capacity"
              placeholder="50000"
              :validation="$v.form.capacity"
              v-model="form.capacity"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Latitude"
              name="latitude"
              placeholder="-38.000000"
              :validation="$v.form.latitude"
              v-model="form.latitude"/>
          </div>
        </div>


        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Longitude"
              name="longitude"
              placeholder="144.000000"
              :validation="$v.form.longitude"
              v-model="form.longitude"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="State"
              name="state_id"
              :options="states"
              :validation="$v.form.state_id"
              v-model="form.state_id"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import {
  required, maxLength, minValue, maxValue,
} from 'vuelidate/lib/validators';
import State from '../../../shared/http/State';
import Venue from '../../../shared/http/Venue';
import InputText from '../../../shared/components/forms/InputText';
import SelectSimple from '../../../shared/components/forms/SelectSimple';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateVenue',
  components: {
    RemoveButton,
    AppBodyWrap,
    ResetButton,
    SelectSimple,
    SubmitButton,
    InputText,
    PageTitle,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        name: '',
        abbreviation: '',
        capacity: '',
        latitude: '',
        longitude: '',
        state_id: '',
      },
      originalForm: {
        name: '',
        abbreviation: '',
        capacity: '',
        latitude: '',
        longitude: '',
        state_id: '',
      },
      allStates: [],
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchStates();
  },
  computed: {
    states() {
      return this.allStates.map((state) => ({ value: state.id, text: state.name }));
    },
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Venue';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        name: '',
        abbreviation: '',
        capacity: '',
        latitude: '',
        longitude: '',
        state_id: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update Venue';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Venue.fetch(this.$route.params.id);

      this.setupForms({
        name: this.model.name,
        abbreviation: this.model.abbreviation,
        capacity: this.model.capacity,
        latitude: this.model.latitude,
        longitude: this.model.longitude,
        state_id: this.model.state.id,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Venue.create(this.form) === true) {
        return this.$router.push({ name: 'venue-all' });
      }

      return false;
    },
    async update() {
      if (await Venue.update(this.model, this.form) === true) {
        return this.$router.push({ name: 'venue-all' });
      }

      return false;
    },
    async remove() {
      if (await Venue.remove(this.model) === true) {
        return this.$router.push({ name: 'venue-all' });
      }

      return false;
    },
    async fetchStates() {
      this.allStates = (await State.index('all')).states;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        name: {
          required,
          maxLength: maxLength(50),
        },
        abbreviation: {
          required,
          maxLength: maxLength(4),
        },
        capacity: {
          required,
          minValue: minValue(1),
          maxValue: maxValue(300000),
        },
        latitude: {
          required,
          minValue: minValue(-90),
          maxValue: maxValue(90),
        },
        longitude: {
          required,
          minValue: minValue(-180),
          maxValue: maxValue(180),
        },
        state_id: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
