<template>
  <div class="max-w-7xl mx-auto px-4 pb-10 sm:px-6 md:px-8">
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: 'AppBodyWrap',
};
</script>

<style lang="scss" scoped>
</style>
