<template>
  <div class="max-w-7xl mx-auto px-4 pb-10 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          {{ title }}
        </h2>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <span
          v-for="(item, index) of buttons"
          :key="index"
          class="ml-3 shadow-sm rounded-md">
          <link-button
            :to="item.to"
            :type="item.type"
            :text="item.text"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>

import LinkButton from './forms/LinkButton';

export default {
  name: 'PageTitle',
  components: { LinkButton },
  props: {
    title: { type: String },
    buttons: { type: Array, default: () => [] },
  },
};
</script>

<style lang="scss" scoped>
</style>
