<template>
<!--  <div>-->
    <!-- First -->
<!--    <button-->
<!--      class="border border-gray-400 bg-gray-200 p-2 disabled:opacity-75"-->
<!--      :disabled="first.disable"-->
<!--      @click="requestPage(1)">First 1</button>-->

<!--    &lt;!&ndash; Previous &ndash;&gt;-->
<!--    <button-->
<!--      v-show="previous.show"-->
<!--      @click="requestPage(previous.value)">Prev {{ previous.value }}</button>-->

<!--    &lt;!&ndash; Current &ndash;&gt;-->
<!--    <button-->
<!--      v-show="current.show"-->
<!--      @click="requestPage(current.value)">Current {{ current.value }}</button>-->

<!--    &lt;!&ndash; Next &ndash;&gt;-->
<!--    <button-->
<!--      v-show="next.show"-->
<!--      @click="requestPage(next.value)">Next {{ next.value }}</button>-->

<!--    &lt;!&ndash; Last &ndash;&gt;-->
<!--    <button-->
<!--      v-show="last.show"-->
<!--      :disabled="last.disable"-->
<!--      @click="requestPage(last.value)">Last {{ last.value }}</button>-->
<!--  </div>-->


  <div class="bg-white px-4 py-3 flex items-center justify-between shadow sm:rounded-lg border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
      <a
        href="#"
        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
        Previous
      </a>
      <a
        href="#"
        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
        Next
      </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm leading-5 text-gray-700">
          Showing
          <span class="font-semibold">{{ showing.start }}</span>
          to
          <span class="font-semibold">{{ showing.end }}</span>
          of
          <span class="font-semibold">{{ showing.total }}</span>
          results
        </p>
      </div>
      <div>
      <span class="relative z-0 inline-flex shadow-sm">
        <button
          v-show="previous.show"
          type="button"
          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
          :class="highlight(previous.value)"
          @click="requestPage(previous.value)">
          <hero-chevron-left/>
        </button>

        <button
          type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
          :class="firstClasses"
          :disabled="first.disable"
          @click="requestPage(1)">
          1
        </button>

        <span
          v-show="showBackEllipsis"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700">
          ...
        </span>

        <button
          v-show="current.show"
          type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
          :class="highlight(current.value)"
          @click="requestPage(current.value)">
          {{ current.value }}
        </button>

        <span
          v-show="showForwardEllipsis"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700">
          ...
        </span>

        <button
          v-show="last.show"
          type="button"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
          :class="lastClasses"
          :disabled="last.disable"
          @click="requestPage(last.value)">
          {{ last.value }}
        </button>

        <button
          v-show="next.show"
          type="button"
          class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
          :class="highlight(next.value)"
          @click="requestPage(next.value)">
          <hero-chevron-right/>
        </button>
      </span>
      </div>
    </div>
  </div>


</template>

<script>
import HeroChevronRight from './heroicons/HeroChevronRight.vue';
import HeroChevronLeft from './heroicons/HeroChevronLeft.vue';

export default {
  name: 'Pagination',
  components: { HeroChevronRight, HeroChevronLeft },
  data() {
    return {
    };
  },
  props: {
    pagination: { type: Object },
  },
  computed: {
    first() {
      return {
        value: 1,
        disable: this.pagination.currentPage === 1,
      };
    },
    previous() {
      return {
        value: this.pagination.currentPage - 1,
        show: this.pagination.currentPage > 1,
      };
    },
    current() {
      return {
        value: this.pagination.currentPage,
        show: this.pagination.currentPage !== 1 && this.pagination.currentPage !== this.pagination.lastPage,
      };
    },
    next() {
      return {
        value: this.pagination.currentPage + 1,
        show: this.pagination.currentPage < this.pagination.lastPage,
      };
    },
    last() {
      return {
        value: this.pagination.lastPage,
        show: this.pagination.lastPage > 1,
        disable: this.pagination.currentPage === this.pagination.lastPage,
      };
    },
    showBackEllipsis() {
      return (this.current.value - this.first.value) !== 1 && this.pagination.lastPage !== 1;
    },
    showForwardEllipsis() {
      return this.current.show && (this.last.value - this.current.value) !== 1;
    },
    firstClasses() {
      const classes = [];

      if (!this.previous.show) {
        classes.push('rounded-l-md');
      }

      if (!this.last.show) {
        classes.push('rounded-r-md');
      }

      if (this.isCurrentPage(this.first.value)) {
        classes.push('bg-gray-100');
      }

      return classes;
    },
    lastClasses() {
      const classes = [];

      if (!this.next.show) {
        classes.push('rounded-r-md');
      }

      if (this.isCurrentPage(this.last.value)) {
        classes.push('bg-gray-100');
      }

      return classes;
    },
    showing() {
      return {
        start: this.pagination.currentPageStart,
        end: this.pagination.currentPageEnd,
        total: this.pagination.total,
      };
    },
  },
  methods: {
    requestPage(page) {
      this.$emit('requestPage', page);
    },
    isCurrentPage(page) {
      return page === this.pagination.currentPage;
    },
    highlight(page) {
      return this.isCurrentPage(page) ? 'bg-gray-100' : '';
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
