<template>
  <div class="h-screen flex overflow-hidden bg-gray-100">
    <!-- Off-canvas menu for mobile -->
    <div class="md:hidden">
      <div
        @click="sidebarOpen = false"
        class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300"
        :class="{'opacity-75 pointer-events-auto': sidebarOpen, 'opacity-0 pointer-events-none': !sidebarOpen}"></div>
      <div
        class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-gray-800 transform ease-in-out duration-300 -translate-x-full"
        :class="{'translate-x-0': sidebarOpen, '-translate-x-full': !sidebarOpen}">
        <div class="absolute top-0 right-0 -mr-14 p-1">
          <button
            x-show="sidebarOpen"
            @click="sidebarOpen = false"
            class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600">
            <svg
              class="h-6 w-6 text-white"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
        <div class="h-0 flex-1 overflow-y-auto pt-5 pb-4">
          <div class="flex-shrink-0 flex items-center px-4">
            Footy
          </div>
          <nav class="mt-5 px-2">
            <a
href="#"
:class="sidebarLinkClass(true, true)">
              <hero-home
                :class="sidebarIconClass(true, true)"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Dashboard
            </a>
            <router-link
:to="{name: 'league-all'}"
:class="sidebarLinkClass()">
              <hero-folder
                :class="sidebarIconClass(true)"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Leagues
            </router-link>
          </nav>
        </div>
        <div class="flex-shrink-0 flex bg-gray-700 p-4">
          <a
href="#"
class="flex-shrink-0 group block">
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""/>
              </div>
              <div class="ml-3">
                <p class="text-base leading-6 font-medium text-white">
                  Tom Cook
                </p>
                <p class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                  View profile
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden md:flex md:flex-shrink-0">
      <div class="flex flex-col w-64 bg-gray-800">
        <div class="h-0 flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            Footy
          </div>
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <nav class="mt-5 flex-1 px-2 bg-gray-800">
            <a
              href="#"
              :class="sidebarLinkClass('home', true)">
              <hero-home
                class="mr-4 h-6 w-6 text-gray-300 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Dashboard
            </a>

            <router-link
              :to="{name: 'league-all'}"
              :class="sidebarLinkClass('leagues-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              League
            </router-link>

            <router-link
              :to="{name: 'season-all'}"
              :class="sidebarLinkClass('season-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Season
            </router-link>

            <router-link
              :to="{name: 'series-all'}"
              :class="sidebarLinkClass('series-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Series
            </router-link>

            <router-link
              :to="{name: 'state-all'}"
              :class="sidebarLinkClass('state-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              States
            </router-link>

            <router-link
              :to="{name: 'venue-all'}"
              :class="sidebarLinkClass('venue-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Venues
            </router-link>

            <router-link
              :to="{name: 'team-all'}"
              :class="sidebarLinkClass('team-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Teams
            </router-link>

            <router-link
              :to="{name: 'round-all'}"
              :class="sidebarLinkClass('round-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Rounds
            </router-link>

            <router-link
              :to="{name: 'match-all'}"
              :class="sidebarLinkClass('match-all')">
              <hero-folder
                class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"/>
              Matches
            </router-link>
          </nav>
        </div>
        <div class="flex-shrink-0 flex bg-gray-700 p-4">
          <a
            href="#"
            class="flex-shrink-0 group block focus:outline-none">
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-9 w-9 rounded-full"
src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""/>
              </div>
              <div class="ml-3">
                <p class="text-sm leading-5 font-medium text-white">
                  John Smith
                </p>
                <p class="text-xs leading-4 font-medium text-gray-400 group-hover:text-gray-300 group-focus:underline transition ease-in-out duration-150">
                  View profile
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-0 flex-1 overflow-hidden">
      <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
        <button
          @click.stop="sidebarOpen = true"
          class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150">
          <svg
            class="h-6 w-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
      </div>
      <main
        class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6"
        tabindex="0"
        x-data
        x-init="$el.focus()">
          <router-view @pageTitle="pushPageTitle"/>
      </main>
    </div>
  </div>


</template>

<script>
import HeroFolder from '../../shared/components/heroicons/HeroFolder.vue';
import HeroHome from '../../shared/components/heroicons/HeroHome.vue';

export default {
  name: 'App',
  components: { HeroHome, HeroFolder },
  data() {
    return {
      pageTitle: '',
      sidebarOpen: false,
    };
  },
  computed: {
  },
  methods: {
    pushPageTitle(title) {
      this.pageTitle = title;
    },
    sidebarLinkClass(routeName, top = false) {
      const classes = [
        'group',
        'flex',
        'items-center',
        'px-2',
        'py-2',
        'text-sm',
        'leading-5',
        'font-medium',
        'rounded-md',
        'focus:outline-none',
        'transition',
        'ease-in-out',
        'duration-150',
      ];

      classes.push(top ? 'mt-1' : '');

      return classes.concat(
        this.$route.name === routeName
          ? ['text-white', 'bg-gray-900', 'focus:bg-gray-700']
          : ['text-gray-300', 'hover:text-white', 'hover:bg-gray-700', 'focus:text-white', 'focus:bg-gray-700'],
      );
    },
    sidebarIconClass(desktop = true, selected = false) {
      const classes = [
        'mr-4',
        'h-6',
        'w-6',
        'group-hover:text-gray-300',
        'group-focus:text-gray-300',
        'transition',
        'ease-in-out',
        'duration-150',
      ];

      classes.push(desktop ? 'mr-3' : 'mr-4');
      classes.push(selected ? 'text-gray-400' : 'text-gray-300');

      return classes;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
