<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div>
            <div class="mt-6 sm:mt-5">
              <select-simple
                label="League"
                name="league_id"
                :options="leagues"
                :validation="$v.form.league_id"
                v-model="form.league_id"
                @change="leagueIdChanged()"/>
            </div>
          </div>

          <div>
            <div class="mt-6 sm:mt-5">
              <select-simple
                label="Series"
                name="series_id"
                :options="series"
                :validation="$v.form.series_id"
                v-model="form.series_id"
                @change="seriesIdChanged()"/>
            </div>
          </div>

          <div>
            <div class="mt-6 sm:mt-5">
              <select-simple
                label="Round"
                name="round_id"
                :options="rounds"
                :validation="$v.form.round_id"
                v-model="form.round_id"/>
            </div>
          </div>

          <div class="mt-6 sm:mt-5">
            <input-text
              label="Start Time"
              name="start_time"
              placeholder="2020-07-01 20:00:00"
              :validation="$v.form.start_time"
              v-model="form.start_time"/>
          </div>

          <div>
            <div class="mt-6 sm:mt-5">
              <select-simple
                label="Venue"
                name="venue_id"
                :options="venues"
                :validation="$v.form.venue_id"
                v-model="form.venue_id"/>
            </div>
          </div>

<!--          <div>-->
<!--            <div class="mt-6 sm:mt-5">-->
<!--              <select-simple-->
<!--                label="Home Team"-->
<!--                name="home_team_id"-->
<!--                :options="teams"-->
<!--                :validation="$v.form.home_team_id"-->
<!--                v-model="form.home_team_id"/>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="mt-6 sm:mt-5">-->
<!--            <input-text-->
<!--              label="Home Team Goals"-->
<!--              name="home_team_goals"-->
<!--              placeholder="15"-->
<!--              :validation="$v.form.home_team_goals"-->
<!--              v-model="form.home_team_goals"/>-->
<!--          </div>-->

<!--          <div class="mt-6 sm:mt-5">-->
<!--            <input-text-->
<!--              label="Home Team Behinds"-->
<!--              name="home_team_behinds"-->
<!--              placeholder="10"-->
<!--              :validation="$v.form.home_team_behinds"-->
<!--              v-model="form.home_team_behinds"/>-->
<!--          </div>-->




          <team-scores-input
            label="Home Team"
            team-stub="home_team"
            :validation="$v.form"
            :values="form">
            <template v-slot:team>
              <select
                id="home_team_id"
                v-model="form.home_team_id"
                class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <option
                  v-for="{text, value} of teams"
                  :key="value"
                  :value="value">
                  {{ text }}
                </option>
              </select>
            </template>

            <template v-slot:goals>
              <input
                id="home_team_goals"
                name="home_team_goals"
                class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                v-model="form.home_team_goals"
                placeholder="Goals"/>
            </template>

            <template v-slot:behinds>
              <input
                id="home_team_behinds"
                name="home_team_behinds"
                class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                v-model="form.home_team_behinds"
                placeholder="Behinds"/>
            </template>
          </team-scores-input>



<!--          <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">-->
<!--            <label-->
<!--              for="home_team_id"-->
<!--              class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">-->
<!--              Home Team-->
<!--              <span-->
<!--                v-if="$v.form.home_team_id.$params.required"-->
<!--                class="mt-2 text-sm text-red-500">-->
<!--                <br>Required-->
<!--              </span>-->
<!--            </label>-->
<!--            <div class="mt-1 sm:mt-0 sm:col-span-2">-->
<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <select-->
<!--                  id="home_team_id"-->
<!--                  v-model="form.home_team_id"-->
<!--                  class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">-->
<!--                  <option-->
<!--                    v-for="{text, value} of teams"-->
<!--                    :key="value"-->
<!--                    :value="value">-->
<!--                    {{ text }}-->
<!--                  </option>-->
<!--                </select>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <input-->
<!--                  id="home_team_goals"-->
<!--                  name="home_team_goals"-->
<!--                  class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--                  v-model="form.home_team_goals"-->
<!--                  placeholder="Goals"/>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <input-->
<!--                  id="home_team_behinds"-->
<!--                  name="home_team_behinds"-->
<!--                  class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--                  v-model="form.home_team_behinds"-->
<!--                  placeholder="Behinds"/>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm px-3">-->
<!--                {{ homeTeamPoints }}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->




          <team-scores-input
            label="Away Team"
            team-stub="away_team"
            :validation="$v.form"
            :values="form">
            <template v-slot:team>
              <select
                id="away_team_id"
                v-model="form.away_team_id"
                class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <option
                  v-for="{text, value} of teams"
                  :key="value"
                  :value="value">
                  {{ text }}
                </option>
              </select>
            </template>

            <template v-slot:goals>
              <input
                id="away_team_goals"
                name="away_team_goals"
                class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                v-model="form.away_team_goals"
                placeholder="Goals"/>
            </template>

            <template v-slot:behinds>
              <input
                id="away_team_behinds"
                name="away_team_behinds"
                class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                v-model="form.away_team_behinds"
                placeholder="Behinds"/>
            </template>
          </team-scores-input>






<!--          <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">-->
<!--            <label-->
<!--              for="away_team_id"-->
<!--              class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">-->
<!--              Away Team-->
<!--              <span-->
<!--                v-if="$v.form.away_team_id.$params.required"-->
<!--                class="mt-2 text-sm text-red-500">-->
<!--                <br>Required-->
<!--              </span>-->
<!--            </label>-->
<!--            <div class="mt-1 sm:mt-0 sm:col-span-2">-->
<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <select-->
<!--                  id="away_team_id"-->
<!--                  v-model="form.away_team_id"-->
<!--                  class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">-->
<!--                  <option-->
<!--                    v-for="{text, value} of teams"-->
<!--                    :key="value"-->
<!--                    :value="value">-->
<!--                    {{ text }}-->
<!--                  </option>-->
<!--                </select>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <input-->
<!--                  id="away_team_goals"-->
<!--                  name="away_team_goals"-->
<!--                  class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--                  v-model="form.away_team_goals"-->
<!--                  placeholder="Goals"/>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm">-->
<!--                <input-->
<!--                  id="away_team_behinds"-->
<!--                  name="away_team_behinds"-->
<!--                  class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--                  v-model="form.away_team_behinds"-->
<!--                  placeholder="Behinds"/>-->
<!--              </div>-->

<!--              <div class="inline-block max-w-xs rounded-md shadow-sm px-3">-->
<!--                {{ awayTeamPoints }}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->







<!--          <div>-->
<!--            <div class="mt-6 sm:mt-5">-->
<!--              <select-simple-->
<!--                label="Away Team"-->
<!--                name="away_team_id"-->
<!--                :options="teams"-->
<!--                :validation="$v.form.away_team_id"-->
<!--                v-model="form.away_team_id"/>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="mt-6 sm:mt-5">-->
<!--            <input-text-->
<!--              label="Away Team Goals"-->
<!--              name="away_team_goals"-->
<!--              placeholder="15"-->
<!--              :validation="$v.form.away_team_goals"-->
<!--              v-model="form.away_team_goals"/>-->
<!--          </div>-->

<!--          <div class="mt-6 sm:mt-5">-->
<!--            <input-text-->
<!--              label="Away Team Behinds"-->
<!--              name="away_team_behinds"-->
<!--              placeholder="10"-->
<!--              :validation="$v.form.away_team_behinds"-->
<!--              v-model="form.away_team_behinds"/>-->
<!--          </div>-->

          <div class="mt-6 sm:mt-5">
            <input-text
              label="Attendance"
              name="attendance"
              placeholder="50000"
              :validation="$v.form.attendance"
              v-model="form.attendance"/>
          </div>

          <div class="mt-6 sm:mt-5">
            <input-text
              label="Reference"
              name="reference"
              placeholder="2000_AFL_W4_GF"
              :validation="$v.form.reference"
              v-model="form.reference"/>
          </div>

          <div class="mt-6 sm:mt-5">
            <input-text
              label="Name"
              name="name"
              placeholder="ANZAC Day"
              :validation="$v.form.name"
              v-model="form.name"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators';
import League from '../../../shared/http/League';
import Series from '../../../shared/http/Series';
import Round from '../../../shared/http/Round';
import Match from '../../../shared/http/Match';
import Venue from '../../../shared/http/Venue';
import Team from '../../../shared/http/Team';
import { transformInputs } from '../../../shared/Helpers';
import InputText from '../../../shared/components/forms/InputText';
import SelectSimple from '../../../shared/components/forms/SelectSimple';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';
import QueryBuilder from '../../../shared/http/QueryBuilder';
import TeamScoresInput from './TeamScoresInput.vue';


export default {
  name: 'CreateOrUpdateMatch',
  components: {
    TeamScoresInput,
    RemoveButton,
    AppBodyWrap,
    ResetButton,
    SelectSimple,
    SubmitButton,
    InputText,
    PageTitle,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        league_id: '',
        series_id: '',
        round_id: '',
        venue_id: '',
        home_team_id: '',
        home_team_goals: '',
        home_team_behinds: '',
        away_team_id: '',
        away_team_goals: '',
        away_team_behinds: '',
        start_time: '',
        attendance: '',
        reference: '',
        name: '',
      },
      originalForm: {
        league_id: '',
        series_id: '',
        round_id: '',
        venue_id: '',
        home_team_id: '',
        home_team_goals: '',
        home_team_behinds: '',
        away_team_id: '',
        away_team_goals: '',
        away_team_behinds: '',
        start_time: '',
        attendance: '',
        reference: '',
        name: '',
      },
      allLeagues: [],
      filteredSeries: [],
      allRounds: [],
      allVenues: [],
      allTeams: [],
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchRounds();
    this.fetchVenues();
    this.fetchTeams();
  },
  computed: {
    leagues() {
      return this.allLeagues
        .map((league) => ({ value: league.id, text: league.name }));
    },
    series() {
      return this.filteredSeries
        .map((series) => ({ value: series.id, text: series.name }));
    },
    rounds() {
      return this.allRounds
        .map((round) => ({ value: round.id, text: `${round.series.name} - ${round.round}` }))
        .sort((a, b) => a.text.localeCompare(b.text));
    },
    venues() {
      return this.allVenues
        .map((venue) => ({ value: venue.id, text: `${venue.name} (${venue.state.abbreviation})` }))
        .sort((a, b) => a.text.localeCompare(b.text));
    },
    teams() {
      return this.allTeams
        .map((team) => ({ value: team.id, text: `${team.shortName} (${team.league.abbreviation})` }))
        .sort((a, b) => a.text.localeCompare(b.text));
    },
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Match';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        round_id: '',
        venue_id: '',
        home_team_id: '',
        home_team_goals: '',
        home_team_behinds: '',
        away_team_id: '',
        away_team_goals: '',
        away_team_behinds: '',
        start_time: '',
        attendance: '',
        reference: '',
        name: '',
      });

      this.fetchLeagues();
    },
    async setupUpdateMode() {
      this.title = 'Update Match';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Match.fetch(this.$route.params.id);

      this.setupForms({
        league_id: this.model.round.series.league.id,
        series_id: this.model.round.series.id,
        round_id: this.model.round.id,
        venue_id: this.model.venue ? this.model.venue.id : '',
        home_team_id: this.model.homeTeam ? this.model.homeTeam.id : '',
        home_team_goals: this.model.homeTeamGoals,
        home_team_behinds: this.model.homeTeamBehinds,
        away_team_id: this.model.awayTeam ? this.model.awayTeam.id : '',
        away_team_goals: this.model.awayTeamGoals,
        away_team_behinds: this.model.awayTeamBehinds,
        start_time: this.model.startTime,
        attendance: this.model.attendance,
        reference: this.model.reference,
        name: this.model.name,
      });

      this.fetchLeagues();
      this.fetchSeries();
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Match.create(this.transformInput()) === true) {
        return this.$router.push({ name: 'match-all' });
      }

      return false;
    },
    async update() {
      if (await Match.update(this.model, this.transformInput()) === true) {
        return this.$router.push({ name: 'match-all' });
      }

      return false;
    },
    async remove() {
      if (await Match.remove(this.model) === true) {
        return this.$router.push({ name: 'match-all' });
      }

      return false;
    },
    transformInput() {
      return transformInputs(this.submitMethod === this.update, this.originalForm, this.form, ['name']);
    },
    async fetchLeagues() {
      this.allLeagues = (await League.index('all')).leagues;
    },
    async fetchSeries() {
      this.filteredSeries = (await Series.index(
        'all',
        QueryBuilder.create().filter('league', this.form.league_id),
      )).series;
    },
    async fetchRounds() {
      this.allRounds = (await Round.index('all')).rounds;
    },
    async fetchVenues() {
      this.allVenues = (await Venue.index('all')).venues;
    },
    async fetchTeams() {
      this.allTeams = (await Team.index('all')).teams;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
    leagueIdChanged() {
      console.log('league id changed', this.form.league_id);

      this.fetchSeries();
    },
    seriesIdChanged() {
      console.log('series id changed', this.form.series_id);
    },
  },
  validations() {
    return {
      form: {
        league_id: {},
        series_id: {},
        round_id: {},
        venue_id: {},
        home_team_id: {},
        home_team_goals: {},
        home_team_behinds: {},
        away_team_id: {},
        away_team_goals: {},
        away_team_behinds: {},
        start_time: {},
        attendance: {},
        reference: {},
        name: {},
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
