<template>
  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label
      :for="teamStub + '_id'"
      class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      {{ label }}
      <span
        v-if="teamRequired"
        class="mt-2 text-sm text-red-500">
        <br>Required
      </span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="inline-block max-w-xs rounded-md shadow-sm">
        <slot name="team"></slot>
<!--        <select-->
<!--          :id="teamIdField"-->
<!--          v-model="form.home_team_id"-->
<!--          class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">-->
<!--          <option-->
<!--            v-for="{text, value} of teams"-->
<!--            :key="value"-->
<!--            :value="value">-->
<!--            {{ text }}-->
<!--          </option>-->
<!--        </select>-->
      </div>

      <div class="inline-block max-w-xs rounded-md shadow-sm">
        <slot name="goals"></slot>
<!--        <input-->
<!--          id="home_team_goals"-->
<!--          name="home_team_goals"-->
<!--          class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--          v-model="form.home_team_goals"-->
<!--          placeholder="Goals"/>-->
      </div>

      <div class="inline-block max-w-xs rounded-md shadow-sm">
        <slot name="behinds"></slot>
<!--        <input-->
<!--          id="home_team_behinds"-->
<!--          name="home_team_behinds"-->
<!--          class="w-20 form-input block transition duration-150 ease-in-out sm:text-sm sm:leading-5"-->
<!--          v-model="form.home_team_behinds"-->
<!--          placeholder="Behinds"/>-->
      </div>

      <div class="inline-block max-w-xs rounded-md shadow-sm px-3">
        {{ points }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TeamScoresInput',
  props: {
    label: { type: String },
    // teamIdField: { type: String },
    // teamGoalsField: { type: String },
    // teamBehindsField: { type: String },
    // name: { type: String },
    // options: { type: Array },
    validation: { type: Object },
    values: { type: Object },
    teamStub: { type: String },
  },
  computed: {
    teamRequired() {
      return this.validation[this.teamStub + '_id'].$params.required;
    },
    points() {
      if(this.validation[`${this.teamStub}_goals`].$invalid || this.validation[`${this.teamStub}_behinds`].$invalid) {
        return;
      }

      return `(${+this.values[`${this.teamStub}_goals`] * 6 + +this.values[`${this.teamStub}_behinds`]})`;
    }
  },
};
</script>

<style lang="scss" scoped>
</style>
