<template>
  <div>
    <page-title :title="title"/>

    <app-body-wrap>
      <form @submit.prevent="submit">
        <div>
          <div class="mt-6 sm:mt-5">
            <input-text
              label="Name"
              name="name"
              placeholder="2000 AFL Premiership Season"
              :validation="$v.form.name"
              v-model="form.name"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Points For Win"
              name="points_for_win"
              :options="options.points_for_win"
              :validation="$v.form.points_for_win"
              v-model="form.points_for_win"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Percentage Divisor"
              name="percentage_divisor"
              :options="options.percentage_divisor"
              :validation="$v.form.percentage_divisor"
              v-model="form.percentage_divisor"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Season"
              name="season_id"
              :options="seasons"
              :validation="$v.form.season_id"
              v-model="form.season_id"/>
          </div>
        </div>

        <div>
          <div class="mt-6 sm:mt-5">
            <select-simple
              label="Leagues"
              name="league_id"
              :options="leagues"
              :validation="$v.form.league_id"
              v-model="form.league_id"/>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-between">
            <div>
              <div class="flex justify-start">
                <remove-button
                  v-if="showRemoveButton"
                  @click="remove()"/>
              </div>
            </div>

            <div>
              <reset-button @click="reset()"/>

              <submit-button
                :text="submitButtonText"
                :validation="$v.form"/>
            </div>
          </div>
        </div>
      </form>
    </app-body-wrap>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import League from '../../../shared/http/League.ts';
import Season from '../../../shared/http/Season.ts';
import Series from '../../../shared/http/Series.ts';
import InputText from '../../../shared/components/forms/InputText';
import SelectSimple from '../../../shared/components/forms/SelectSimple';
import SubmitButton from '../../../shared/components/forms/SubmitButton';
import RemoveButton from '../../../shared/components/forms/RemoveButton.vue';
import ResetButton from '../../../shared/components/forms/ResetButton';
import AppBodyWrap from '../../../shared/components/AppBodyWrap';
import PageTitle from '../../../shared/components/PageTitle';

export default {
  name: 'CreateOrUpdateSeries',
  components: {
    AppBodyWrap, ResetButton, SubmitButton, InputText, SelectSimple, PageTitle, RemoveButton,
  },
  data() {
    return {
      title: '',
      submitButtonText: '',
      showRemoveButton: true,
      form: {
        name: '',
        points_for_win: '',
        percentage_divisor: '',
        season_id: '',
        league_id: '',
      },
      originalForm: {
        name: '',
        points_for_win: '',
        percentage_divisor: '',
        season_id: '',
        league_id: '',
      },
      options: {
        points_for_win: [
          { value: 2, text: '2 Points (SANFL Style)' },
          { value: 4, text: '4 Points (AFL Style)' },
        ],
        percentage_divisor: [
          { value: 'points_against', text: 'Points Against (AFL Style)' },
          { value: 'total_points', text: 'Total Points (SANFL Style)' },
        ],
      },
      rawSeasons: [],
      rawLeagues: [],
      model: {},
    };
  },
  async beforeMount() {
    this.setup();

    this.setPageTitle(this.title);

    this.reset();

    this.fetchSeasons();
    this.fetchLeagues();
  },
  computed: {
    leagues() {
      return this.rawLeagues.map((league) => ({ value: league.id, text: league.abbreviation }));
    },
    seasons() {
      return this.rawSeasons.map((season) => ({ value: season.id, text: season.year }));
    },
  },
  methods: {
    setup() {
      const method = this.$route.params.id ? 'setupUpdateMode' : 'setupCreateMode';

      this[method]();
    },
    setupCreateMode() {
      this.title = 'Create Series';
      this.submitButtonText = 'Create';
      this.showRemoveButton = false;

      this.submitMethod = this.create;

      this.setupForms({
        name: '',
        points_for_win: 4,
        percentage_divisor: 'points_against',
        season_id: '',
        league_id: '',
      });
    },
    async setupUpdateMode() {
      this.title = 'Update Series';
      this.submitButtonText = 'Update';

      this.submitMethod = this.update;

      this.model = await Series.fetch(this.$route.params.id);

      this.setupForms({
        name: this.model.name,
        points_for_win: this.model.pointsForWin,
        percentage_divisor: this.model.percentageDivisor,
        season_id: this.model.season.id,
        league_id: this.model.league.id,
      });
    },
    async submit() {
      this.submitMethod();
    },
    async create() {
      if (await Series.create(this.form) === true) {
        return this.$router.push({ name: 'series-all' });
      }

      return false;
    },
    async update() {
      if (await Series.update(this.model, this.form) === true) {
        return this.$router.push({ name: 'series-all' });
      }

      return false;
    },
    async remove() {
      if (await Series.remove(this.model) === true) {
        return this.$router.push({ name: 'series-all' });
      }

      return false;
    },
    async fetchSeasons() {
      const response = await Season.index('all');

      this.rawSeasons = response.seasons;
    },
    async fetchLeagues() {
      const response = await League.index('all');

      this.rawLeagues = response.leagues;
    },
    setupForms(obj) {
      this.form = { ...obj };
      this.originalForm = { ...obj };
    },
    reset() {
      this.form = { ...this.originalForm };
    },
  },
  validations() {
    return {
      form: {
        name: {
          required,
        },
        points_for_win: {
          required,
        },
        percentage_divisor: {
          required,
        },
        season_id: {
          required,
        },
        league_id: {
          required,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
